@charset "UTF-8";

@mixin xs {
  @media (max-width: #{$layout_sm_min - 1}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$layout_sm_min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$layout_md_min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$layout_lg_min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$layout_xl_min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$layout_xxl_min}) {
    @content;
  }
}

@mixin min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@function unicode($str) {
    @return unquote("\"")+$str+unquote("\"");
}

@mixin ellipsis($lines: 2) {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  // or js: https://raw.githubusercontent.com/josephschmitt/Clamp.js/master/clamp.js
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
