@charset "UTF-8";

// Motions / Transitions
$base_duration: 500ms;

// Google Fonts
$font_roboto: 'Roboto', sans-serif;
$font_merriweather: 'Merriweather', serif;
$font_hind: 'Hind', sans-serif;

// Layout
$layout_sm_min: 576px;
$layout_md_min: 768px;
$layout_lg_min: 992px;
$layout_xl_min: 1200px;
$layout_xxl_min: 1440px;
