<!DOCTYPE html>
<html lang="pl">

<head>
    {{> layout.head }}
</head>

<body>
    <div class="layout">
        <div class="layout__wrapper">
            <header class="layout__header">
                {{> layout.header }}
            </header>

            <main class='layout__main'>
                <p>{{ htmlWebpackPlugin.options.filename }}</p>
            </main>

            <footer class="layout__footer">
                {{> layout.footer }}
            </footer>
        </div>
    </div>
</body>

</html>
