<nav class="navigation">
    <ul class="navigation__list">

        {{#each templateData.navigation }}
        <li class="navigation__item">
            <a href="{{this.url}}" title="{{this.name}}" class="navigation__anchor">
                {{this.name}}
            </a>
        </li>
        {{/each}}

    </ul>
</nav>
